* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  height: 400px;
  width: 800px;
  display: flex;
  border:2px solid black ;
}

.left,
.right {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100%;
  border: 2px solid black;
  flex-direction: column;
 
}

.middle {

  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

button{
  height: 30px;
  width: 70px;
}

button svg{
  height: 25px;
  width: 25px;
}
ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;

}
li{
  list-style-type: none;
  padding:10px;
  font-size: 1.2rem;

}
